// _base.scss
// ==============
body {
  background: #F5F5F1;
  font-family: $bodyFont;
  font-size: 1.1em;
  position: relative;
  padding: 0;
  margin: 0;
}

h2, h1, p, a {
  font-family: $fontfamily;
  line-height: 150%;
}
