//////nav///////
header#intro {
  article.fullheight {
    @include backImage('../images/cheeseboard.jpg');
    #navBar {
      width: 100%;
      position: fixed;
      a {
        padding: .75rem;
      }
      div.left {
        float: left;
        padding-left: 4rem;
        margin-right: 25rem;
        a {
          font-size: 1.75em;
        }
      }//div.left
      div.right {
        float: right;
      }
      a {
        color: rgba(255,255,255,.85);
        text-decoration: none;
        display: inline;
        font-weight: 100px;
        &:hover:not(#brand) {
          padding: 1rem 10px;
          text-decoration: none;
          border-bottom: 2px solid #ec6713;
        }
      }//a
    }//navBar
    .none {
      padding: 2.5rem 0;
    }
    .background {
      background: #F7F6F6;
      @include single-transition(all, 1s, ease-out);
      padding: 1rem 0;
      span, a#brand {
        color: $dark;
      }
    }//background class added via jquery
    .subnav {
      padding-top: 150px;
      margin: 0 auto;
      text-align: center;
      p {
        display: block;
        color: rgba(255,255,255,.75);
        font-size: 1.75em;
        font-weight: $thin;
        line-height: 2em;
      }//p
      h3 {
        text-transform: uppercase;
        color: $light;
        font-weight: $thin;
        font-size: 2.25em;
      }
    }//subnav
  }//fullheight
}//intro


//////below header//////
div.page {
  height: 300px;
  background: #3D4849;
  padding: 2rem 0;
  main.cf {
    text-align: center;
    h2 {
      font-size: 2em;
    }
    p {

    }
  }//main.cf
}//div.page


//////2nd page/////////
div.page_2 {
  height: 500px;
}

//////3rd page/////////
article.halfheight {
  background: url("../images/cheesefactory.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  div.page_3 {
    background: #FAFBFB;
  }
}
