//////nav///////
header#intro {
  #navBar {
    z-index: 10;
    width: 100%;
    height: 95px;
    position: fixed;
    a {
      text-decoration: none;
      display: block;
      height: 2rem;
      //transition: .5s ease;
      white-space: nowrap;
      margin: 0rem 10px;
      span {
      }//span
      @include breakpoint(max-width $medium) {
        display: inline-block;
        font-size: .8em;
        padding: .4rem 2px;
        margin-left: 1.25em;
      }//breakpoint max medium
      &:hover:not(#brand) {
        border-bottom: .5px solid $dark;
      }//&:hover:not
      &.active {
        margin-bottom: 0;
        padding-bottom: 0;
        color: rgba(225,225,225,.85);
        border-bottom: 1.5px solid $red;
      }
    }//a
    a.importantRule {
      display: inline-block;
    }//a.importantRule

    div.left {
      float: left;
      padding-left: 4rem;
      display: inline;
      a#brand {
        img {
          background: rgba(255,255,255,.35);
          width: 300px;
          @include breakpoint(max-width $small) {
            width: 245px;
          }
        }//img
      }//a

      @include breakpoint(max-width $medium) {
        margin-right: 10em;
        padding-left: 10px;
      }//breakpoint max medium
    }//div.left

    div.right {
      display: inline-block;
      margin-right: 4em;
      margin-top: .5em;
      text-align: right;
      float: right;
      @include breakpoint(max-width $medium) {
        margin-top: 0;
      }
      ul.nav-list {
        li.nav-item {
          display: inline;
          a {
            font-size: 1.1em;
            margin-bottom: 1rem;
          }//a
        }//li
        @include breakpoint(max-width $medium) {
          display: none;
          height: auto;
        }
      }//ul
      div#mobile {
        cursor: pointer;
        display: none;
        @include breakpoint(max-width $medium) {
          display: block;
          width: 100%;
          &:after {
            position: fixed;
            bottom: 0px;
            content: "";
            background: url('../images/menu.png') no-repeat;
            min-height: 40px;
            display: inline-block;
            width: 40px;
            position: absolute;
            right: 10px;
          }
        }//breakpoint
      }//div#mobile
      .nav-list-mobile {
        display: none;
        position: relative;
        float: left;
        .nav-item {
          display: inline-block;
          float: left;
          margin: 0;
          //padding-right: .75rem;
          span {
            margin-bottom: 1rem;
            @include breakpoint($cellphone $small) {
              font-size: .70em;
            }
            @include breakpoint(max-width $cellphone) {
              font-size: .55em;
            }
          }//span
          span#remove {
            @include breakpoint($cellphone $small) {
              font-size: .70em;
            }
            @include breakpoint(max-width $cellphone) {
              display: none;
            }
          }//span#remove
          span#replace {
            display: none;
            @include breakpoint(max-width $cellphone) {
              display: inline-block;
              font-size: .65em;
            }
          }//span#replace
        }//nav-item
        @include breakpoint(max-width $small) {
          padding: 1.0rem 0;
        }
      }//nav-list-mobile
    }//div.right
    @include breakpoint(max-width $medium) {
      height: 150px;
    }
  }//navBar
  .none {
    padding: 2.5rem 0;
    @include single-transition(all, .50s, ease-out);
    span {
      font-weight: 100px;
      font-family: $raleway;
      color: rgba(255,255,255,.85);
    }
    @include breakpoint(max-width $medium) {
      padding: 1rem 0;
      background: #F7F6F6;
      @include single-transition(all, .50s, ease-out);
      padding: 1rem 0;
      span, a#brand {
        color: $dark;
      }//span, a#brand
    }//breakpoint max $medium
  }//.none

  .background {
    background: #F7F6F6;
    border-bottom: solid #E8100C;
    @include single-transition(all, .50s, ease-out);
    padding: 1rem 0;
    span, a#brand {
      background: none;
      padding: 0;
      color: $dark;
    }//span, a#brand
  }//.background class added via jquery

  article.fullheight, article#mobile_fullheight {
    //creates full height screen no matter what size screen
    @include backImage('../images/ieCover.jpg');
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    video {
      background-repeat: no-repeat;
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -10;
      background-size: cover;
      transition: 1s opacity;
      @include breakpoint(max-width $small) {
        display: none;
      }
    }//video
    .subnav {
      h3#subnav-middle {
        display: block;
        position: relative;
        text-transform: uppercase;
        width: 100%;
        color: $light;
        font-weight: $thin;
        font-size: 2.25em;
        @include breakpoint(max-width $small) {
          font-size: 1.25em;
        }
      }//h3
      a {
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
        display: block;
        width: 45px;
        height: 45px;
        margin: 0 auto;
        padding: 0;
        margin-top: 4.25rem;
        z-index: 10;
        img {
          background: $dark;
          border-radius: 50%;
          @include breakpoint(max-width $small) {
            width: 25px;
            height: 25px;
          }
        }//image
        @include breakpoint(max-width $small) {
          width: 25px;
          height: 25px;
          margin-top: 4rem;
        }
      }//a
    }//subnav

    @include breakpoint(max-width $small) {
      display: none;
    }
  }//article.fullheight
  article#mobile_fullheight {
    display: none;
    @include breakpoint(max-width $small) {
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: center;
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);
      @include backImage('../images/cheddar-cheese-AnneStahl-i.png');
      .subnav {
        padding-top: 8rem;
      }
    }
  }//fullheight mobile
}//header intro


//////below header//////
#aboutUs {
  position: relative;
  height: auto;
  width: 100%;
  //#3D4849
  background: rgba(61,72,73,.90);
  color: $light;
  padding: 4rem 0;
  .about_left, .about_right {
    padding: 4rem 0;
  }
  .about_right {
    border-right: solid #BFD3FF;
  }//right
  .about_left {
    border-left: solid #BFD3FF;
    border-bottom: solid #BFD3FF;
  }//left

  .about_left, .about_right {
    p {
      display: inline-block;
      @include breakpoint(max-width $small) {
        font-size: 1em;
      }
    }//p
    #who_header {
      position: relative;
      @include breakpoint(max-width $small) {
        float: left;
      }
      #who {
        position: absolute;
        left: 15%;
        right: 15%;
        @include breakpoint(max-width $medium) {
          position: relative;
          float: left;
          left: 0%;
          font-size: 2.0em;
        }
      }//who
    }//who_row
    #mission_header {
      float: right;
      position: relative;
      @include breakpoint(max-width $small) {
        float: left;
      }
      #mission {
        position: absolute;
        left: 15%;
        right: 15%;
        @include breakpoint(max-width $medium) {
          position: relative;
          float: left;
          right: 0%;
          font-size: 2.0em;
        }
      }//mission
    }//mission_row
    #mission_text {
      float: left;
      @include breakpoint(max-width $small) {
        float: right;
      }
    }
  }//about_left
  h2 {
    font-size: 3.5em;
    padding-bottom: 2rem;
    @include breakpoint(max-width $medium) {
    }
  }//h2
  p {
    font-size: 1.25em;
  }
}//div.page


//////2nd page/////////
div#page {
  height: 600px;
}//div.page_2

//////3rd page/////////
article#cheddar {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  z-index: 10;
  @include breakpoint(max-width $small) {
    height: 400px;
    @include backImage('../images/ieCover.jpg');
  }
}//halfheight

article#hallway {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  z-index: 100;
  @include breakpoint(max-width $small) {
    @include backImage('../images/factory.jpg');
  }
}

article#machine {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  z-index: 100;
  @include breakpoint(max-width $small) {
    @include backImage('../images/englishHollow.jpg');
  }
}

#services, #employment {
  padding: 3rem 0;
  width: 100%;
  min-height: 1200px;
  background: rgba(255,255,255,.85);
    .container {
      h2.header {
        text-align: center;
        font-size: 3em;
        border-bottom: solid #BFD3FF;
        @include breakpoint(max-width $small) {
          font-size: 2em;
        }
      }
      h1#service_title_1, h1#service_title_2 {
        @include breakpoint(max-width $small) {
          text-align: left;
        }
      }

      div#service_1 {
        position: relative;
        margin-top: 2rem;
        height: auto;
        border-bottom: solid #BFD3FF;
      }
      div#service_2 {
        margin: 2rem 0;
        height: auto;
        position: relative;
        .service {
          position: relative;
          margin-bottom: 1.25rem;
          p.solutions {
            font-size: 1.85em;
            text-align: center;
            @include breakpoint(max-width $small) {
              font-size: 1.75em;
            }
          }//p.solutions
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(max-width $cellphone) {
              display: inline-block;
              width: 245px;
            }
          }//img
        }//.service
      }//service 2

      h1 {
        text-align: center;
        font-size: 2em;
        @include breakpoint(max-width $small) {
          font-size: 1.4em;
        }
      }//h1
      blockquote {
        position: relative;
        display: block;
        margin: 0rem auto;
        width: 65%;
        padding: 1rem 0 4rem 0;
        p {
          font-size: 1.2em;
          @include breakpoint(max-width $small) {
            font-size: 1em;
          }
        }
        @include breakpoint(max-width $small) {
          width: 90%;
        }
      }//blockquote
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }//container
}//services

#employment {
  min-height: 400px;
  div#skill {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  p {
    font-size: 1.2em;
    @include breakpoint(max-width $small) {
      font-size: 1em;
    }
  }
}//employment

#contact {
  height: auto;
  background: #F9F9F9;
  padding: 4rem 0;
  border-top: solid #BFD3FF;
  border-bottom: solid #BFD3FF;
  padding: 2rem 0;
  position: relative;
  clear: both;
  text-align: center;
  h3 {
    font-size: 1.4em;
  }//h3
  p.people {
    height: auto;
    width: auto;
    //background: rgba(223,72,72,.4);
    font-size: 1.3em;
  }//p
  h2 {
    font-size: 1.5em;
    padding-bottom: .5rem;
  }
  .jobs {
    float: left;
    display: inline-block;
  }
  #name, #email{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  }

  #comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  input, textarea {
    color: $dark;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 3px lighten($dark, 50);
    -moz-box-shadow: 2px 2px 3px lighten($dark, 50);
    -ms-box-shadow: 2px 2px 3px lighten($dark, 50);
    box-shadow: 2px 2px 3px lighten($dark, 50);
    border: 3px solid rgba(0,0,0,0);
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  #button-blue {
    background-color: $dred;
    &:hover {
      color: $light;
      background-color: $blue;
    }
    &:active {
      color: $dark;
      background-color: lighten($dred, 50);
    }
  }//button
  #location {
    //padding-left: 2rem;
    position: relative;
  }
} //jobs

footer {
  background: $light;
  padding: 14px 0;
  #socialmedia {
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        img {
          width: 60px;
        }//img
      }//li
    }//ul
  }//#socialmedia
}//footer



/////////extra//////////
.container {
  width: 90%;
}

.spinner {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  padding-top: 150px;
  padding-bottom: 50px;
}

.loader {

  margin: auto 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid rgb(0,0,0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#map-canvas, iframe {
  width: 100%;
  height: 400px;
}

.gm-style img {
    max-width: none;
  }

  .gm-style label {
    width: auto; display:inline;
  }
