//////nav///////
header#intro {
  #navBar {
    width: 100%;
    position: fixed;
    div.left {
      float: left;
      padding-left: 4rem;
      display: inline;
      a {
        font-size: 1.75em;
      }//a
      @include breakpoint(max-width $medium) {
        padding-left: 10px;
      }//breakpoint max medium
    }//div.left
    div.right {
      float: right;
      margin-right: 1rem;
      display: inline;
    }//div.right
    a {
      color: rgba(255,255,255,.85);
      text-decoration: none;
      display: block;
      border-bottom: 0px solid transparent;
      transition: .5s ease;
      font-weight: 100px;
      white-space: nowrap;
      padding: 1rem 10px;
      &:hover:not(#brand) {
        color: rgba(225,225,225,.85);
        border-bottom: 2px solid #ec6713;
      }//&:hover:not
      @include breakpoint(max-width $medium) {
        display: inline-block;
      }//breakpoint max medium
      @include breakpoint(max-width $medium) {
        font-size: 1em;
        padding: .4rem 2px;
        margin-left: 1.25em;
      }//breakpoint
      &.active {
        color: rgba(225,225,225,.85);
        border-bottom: 2px solid #ec6713;
      }
    }//a
    a.importantRule {
      display: inline-block;
    }//a.importantRule
  }//navBar
  .none {
    padding: 2.5rem 0;
    @include single-transition(all, .50s, ease-out);
    @include breakpoint(max-width $medium) {
      padding: 1rem 0;
      background: #F7F6F6;
      @include single-transition(all, .50s, ease-out);
      padding: 1rem 0;
      span, a#brand {
        color: $dark;
      }//span, a#brand
    }//breakpoint max $medium
  }//.none

  .background {
    background: #F7F6F6;
    @include single-transition(all, .50s, ease-out);
    padding: 1rem 0;
    span, a#brand {
      color: $dark;
    }//span, a#brand
  }//.background class added via jquery

  article.fullheight {
    @include backImage('../images/cheeseboard.jpg');
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    .subnav {
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);
      display: block;
      /* -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards; */
      text-align: center;
      margin: 0 auto;
      p {
        display: block;
        color: rgba(255,255,255,.75);
        font-size: 1.75em;
        font-weight: $thin;
        line-height: 2em;
      }//p
      h3 {
        text-transform: uppercase;
        color: $light;
        font-weight: $thin;
        font-size: 2.25em;
      }//h3
    }//subnav
  }//fullheight
}//intro


//////below header//////
div.page {
  height: 600px;
  background: #3D4849;
  color: white;
  padding: 2rem 0;
  main.cf {
    text-align: center;
    h2 {
      font-size: 2em;
    }//h2
  }//main.cf
}//div.page


//////2nd page/////////
div.page_2 {
  height: 500px;
}//div.page_2

//////3rd page/////////
article.halfheight {
  background: url("../images/cheesefactory.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}//article.halfheight

div.page_3 {
    background: $blue;
    height: 300px;
    color: white;
    padding: 2rem 0;
    main.cf {
    text-align: center;
      h2 {
      font-size: 2em;
      }//h2
    }//main.cf
}//div.page_3

footer {
  padding: 14px 0;
  #socialmedia {
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        img {
          width: 60px;
        }//img
      }//li
    }//ul
  }//#socialmedia
}//footer
